@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

.page {
  margin: auto;
  min-width: 320px;
  max-width: 1440px;
  background-color: #0e1014;
  color: white;
  font-weight: 400;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
